In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('data/2022_09_10000_matches_한글버전_컬럼전처리.csv')

In [3]:
df1 = df1.loc[:,['킬수','어시','데스','퍼블어시유무','퍼블유무','얻은 골드','라인','연속 킬','받은마법피해량','받은물리피해량','cs 수','다른 챔피언에게 cc기를 건 시간','게임 시간 (초)','부활 대기 죽은 시간',
'챔피언에게 가한 피해량','포탑 골드 획득 갯수','시야점수','핑와산갯수','와드제거수','설치와드수','win']]

In [4]:
df1['받은 피해량'] = df1['받은마법피해량'] + df1['받은물리피해량']
df1['게임시간 대비 cc기 건 시간'] = round(df1['다른 챔피언에게 cc기를 건 시간'] / df1['게임 시간 (초)'],2)
df1['게임시간 대비 죽은 시간'] = round(df1['부활 대기 죽은 시간'] / df1['게임 시간 (초)'],2)

df1.drop(['받은마법피해량','받은물리피해량','부활 대기 죽은 시간','다른 챔피언에게 cc기를 건 시간','게임 시간 (초)'],axis=1,inplace=True)
df1

,킬수,어시,데스,퍼블어시유무,퍼블유무,얻은 골드,라인,연속 킬,cs 수,챔피언에게 가한 피해량,포탑 골드 획득 갯수,시야점수,핑와산갯수,와드제거수,설치와드수,win,받은 피해량,게임시간 대비 cc기 건 시간,게임시간 대비 죽은 시간
0,15,3,6,False,False,14062,TOP,7,132,23814,4,10,0,0,7,True,28984,0.02,0.09
1,4,19,4,True,False,10577,JUNGLE,3,18,15748,6,21,3,0,11,True,31637,0.01,0.05
2,18,6,5,True,False,13858,MIDDLE,11,148,30404,6,8,0,0,5,True,26920,0.02,0.08
3,5,7,6,False,False,9292,BOTTOM,3,119,10578,3,3,1,1,2,True,15252,0.00,0.07
4,1,24,1,False,True,8284,UTILITY,0,14,7945,5,68,5,7,31,True,9916,0.01,0.01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2,5,7,False,False,7291,TOP,2,116,11727,0,16,1,0,5,False,20570,0.00,0.16
99996,7,2,12,False,False,10471,JUNGLE,3,63,14657,0,14,1,0,7,False,25429,0.00,0.21
99997,4,4,10,False,False,8346,MIDDLE,2,120,15307,0,16,1,0,9,False,19701,0.01,0.14
99998,4,1,7,False,False,8547,BOTTOM,2,115,10052,0,17,1,3,9,False,19090,0.01,0.10
99999,2,6,10,False,False,6838,UTILITY,0,44,12472,0,23,0,0,16,False,17533,0.01,0.15

In [5]:
df1 = df1.loc[:,['라인','win','킬수','어시','데스','챔피언에게 가한 피해량','받은 피해량','얻은 골드','cs 수','포탑 골드 획득 갯수','퍼블유무','퍼블어시유무',
'연속 킬','시야점수', '핑와산갯수', '와드제거수', '설치와드수','게임시간 대비 cc기 건 시간', '게임시간 대비 죽은 시간']]

In [6]:
df1 = df1[df1['라인'] != 'Invalid']

In [14]:
df2 = df1[df1['라인'] == 'TOP']
df2 = df2.drop('라인',1)
df2.to_csv('data/탑.csv')

C:\Users\ice_9\AppData\Local\Temp\ipykernel_11860\3950399719.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df2 = df2.drop('라인',1)

In [15]:
df2 = df1[df1['라인'] == 'JUNGLE']
df2 = df2.drop('라인',1)
df2.to_csv('data/정글.csv')

C:\Users\ice_9\AppData\Local\Temp\ipykernel_11860\2225405072.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df2 = df2.drop('라인',1)

In [16]:
df2 = df1[df1['라인'] == 'MIDDLE']
df2 = df2.drop('라인',1)
df2.to_csv('data/미드.csv')

C:\Users\ice_9\AppData\Local\Temp\ipykernel_11860\2835994387.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df2 = df2.drop('라인',1)

In [17]:
df2 = df1[df1['라인'] == 'BOTTOM']
df2 = df2.drop('라인',1)
df2.to_csv('data/원딜.csv')

C:\Users\ice_9\AppData\Local\Temp\ipykernel_11860\2892683407.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df2 = df2.drop('라인',1)

In [18]:
df2 = df1[df1['라인'] == 'UTILITY']
df2 = df2.drop('라인',1)
df2.to_csv('data/서폿.csv')

C:\Users\ice_9\AppData\Local\Temp\ipykernel_11860\834702100.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df2 = df2.drop('라인',1)

In [45]:
df1 = pd.get_dummies(data=df1, columns=['라인'])

In [47]:
df1.to_csv('모델돌릴꺼.csv')