In [1]:
import pandas as pd

### 데이터 가져오기

In [9]:
df = pd.read_csv('data/10000matches_컬럼한글.csv', encoding='cp949')
df.head(2)

C:\Users\sujong\AppData\Local\Temp\ipykernel_16804\136090758.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('data/10000matches_컬럼한글.csv', encoding='cp949')

,Unnamed: 0,어시,GameID,GameMode,바론킬,bountyLevel,champExperience,챔피언 레벨,챔피언,damageDealtToObjectives,...,totalTimeSpentDead,trueDamageDealtToChampions,trueDamageTaken,turretTakedowns,turretsLost,시야점수,핑와산갯수,와드제거수,설치와드수,win
0,0,20,NA1_4430908515,ARAM,0,0,14531,15,Ashe,112,...,74,797,465,1,4,5,0,0,0,False
1,0,3,4035079604,CLASSIC,0,3,15453,16,Sett,18147,...,156,2556,686,4,4,10,0,0,7,True

In [10]:
df.columns

Index(['Unnamed: 0', '어시', 'GameID', 'GameMode', '바론킬', 'bountyLevel',
       'champExperience', '챔피언 레벨', '챔피언', 'damageDealtToObjectives',
       'damageSelfMitigated', '데스', '드래곤킬', '퍼블어시유무', '퍼블유무', '서렌으로끝났는지',
       'goldEarned', 'goldSpent', '라인', '억제기킬', '억제기잃은수', 'item0', 'item1',
       'item2', 'item3', 'item4', 'item5', 'item6', '킬수', 'lane', '젤높은치명타데미지',
       'largestKillingSpree', 'longestTimeSpentLiving', '챔피언에게가한마법피해량',
       '받은마법피해량', 'nexusLost', '오브젝트스틸', '챔피언에게입힌물리피해량', '받은물리피해량',
       'spell1Casts', 'spell2Casts', 'spell3Casts', 'spell4Casts',
       'summoner1Casts', 'summoner1Id', 'summoner2Casts', 'summoner2Id',
       'summonerId', 'teamEarlySurrendered', 'teamId', 'timeCCingOthers',
       'timePlayed', 'totalDamageDealtToChampions',
       'totalDamageShieldedOnTeammates', 'totalDamageTaken', 'totalHeal',
       'totalHealsOnTeammates', 'totalMinionsKilled', 'totalTimeCCDealt',
       'totalTimeSpentDead', 'trueDamageDealtToChampions', 'trueDamageTaken',
       'turretTakedowns', 'turretsLost', '시야점수', '핑와산갯수', '와드제거수', '설치와드수',
       'win'],
      dtype='object')

### 전처리 위해 필요한 데이터만 가져옴

In [14]:
df_sub = df[['teamEarlySurrendered','win','라인','GameID','GameMode','teamId','챔피언']]
df_sub.head(2)

   teamEarlySurrendered    win       라인          GameID GameMode  teamId   챔피언
0                 False  False  Invalid  NA1_4430908515     ARAM     100  Ashe
1                 False   True      TOP      4035079604  CLASSIC     100  Sett

### 소환사 협곡만 확인

In [16]:
df_sub = df_sub[df_sub['GameMode']=='CLASSIC']

   teamEarlySurrendered   win      라인      GameID GameMode  teamId      챔피언
1                 False  True     TOP  4035079604  CLASSIC     100     Sett
2                 False  True  JUNGLE  4035079604  CLASSIC     100  Trundle

### 다시하기 아닌 게임

In [18]:
df_sub = df_sub[df_sub['teamEarlySurrendered']==False]
df_sub['teamEarlySurrendered'].unique()

array([False])

### 사용하지 않는 다시하기 게임모드 컬럼 제거

In [23]:
df_sub[df_sub['GameID']=='4035079604']

      win       라인      GameID  teamId      챔피언
1    True      TOP  4035079604     100     Sett
2    True   JUNGLE  4035079604     100  Trundle
3    True   MIDDLE  4035079604     100    Sylas
4    True   BOTTOM  4035079604     100   KogMaw
5    True  UTILITY  4035079604     100     Nami
6   False      TOP  4035079604     200     Yone
7   False   JUNGLE  4035079604     200    Viego
8   False   MIDDLE  4035079604     200    Yasuo
9   False   BOTTOM  4035079604     200  Caitlyn
10  False  UTILITY  4035079604     200    Swain

### invalid 수정한 코드

In [29]:
# df_sub = df_sub.loc[df_sub['GameID']!='4035112887']

In [112]:
# df_sub.loc[99309, '라인'] = 'BOTTOM'
# df_sub.loc[99309, '라인']

'BOTTOM'

In [110]:
# df_sub[df_sub['GameID']==4035204512]

         win       라인      GameID  teamId       챔피언
99301   True      TOP  4035204512     100   Trundle
99302   True   JUNGLE  4035204512     100     Amumu
99303   True   MIDDLE  4035204512     100     Sivir
99304   True   BOTTOM  4035204512     100      Jhin
99305   True  UTILITY  4035204512     100   Morgana
99306  False  Invalid  4035204512     200    Illaoi
99307  False   JUNGLE  4035204512     200  Malphite
99308  False   MIDDLE  4035204512     200    Anivia
99309  False  UTILITY  4035204512     200    Ezreal
99310  False  UTILITY  4035204512     200       Lux

In [113]:
df_sub[df_sub['라인']=='Invalid']

Empty DataFrame
Columns: [win, 라인, GameID, teamId, 챔피언]
Index: []

In [20]:
# df_sub['라인'].unique()

array(['TOP', 'JUNGLE', 'MIDDLE', 'BOTTOM', 'UTILITY', 'Invalid'],
      dtype=object)

### 사용하지 않는 컬럼 제거

In [19]:
df_sub.drop(['teamEarlySurrendered', 'GameMode'], 1, inplace=True)
df_sub.head(2)

C:\Users\sujong\AppData\Local\Temp\ipykernel_16804\3458126277.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df_sub.drop(['teamEarlySurrendered', 'GameMode'], 1, inplace=True)

    win      라인      GameID  teamId      챔피언
1  True     TOP  4035079604     100     Sett
2  True  JUNGLE  4035079604     100  Trundle

In [114]:
# df_sub.to_csv('invalid처리한_조합만들기데이터.csv', encoding='cp949')

### 데이터를 라인별로 쪼개기

In [115]:
top = df_sub.loc[df_sub['라인']=='TOP']
jung = df_sub.loc[df_sub['라인']=='JUNGLE']
mid = df_sub.loc[df_sub['라인']=='MIDDLE']
bot = df_sub.loc[df_sub['라인']=='BOTTOM']
sup = df_sub.loc[df_sub['라인']=='UTILITY']

### 탑 정글 블루팀 조합 만들기

In [124]:
blue_top = pd.merge(top[top['teamId'] == 100], jung[jung['teamId']==100], on='GameID', how='inner')
blue_top.head(2)

,win_x,라인_x,GameID,teamId_x,챔피언_x,win_y,라인_y,teamId_y,챔피언_y
0,True,TOP,4035079604,100,Sett,True,JUNGLE,100,Trundle
1,False,TOP,4035079613,100,Garen,False,JUNGLE,100,FiddleSticks

In [126]:
blue_top.drop(['win_x', '라인_x', 'teamId_x', 'teamId_y', '라인_y'],1,inplace=True)
blue_top.head(2)

C:\Users\sujong\AppData\Local\Temp\ipykernel_16804\1465835328.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  blue_top.drop(['win_x', '라인_x', 'teamId_x', 'teamId_y', '라인_y'],1,inplace=True)

       GameID  챔피언_x  win_y         챔피언_y
0  4035079604   Sett   True       Trundle
1  4035079613  Garen  False  FiddleSticks

In [127]:
blue_top['탑_정글_조합']=blue_top['챔피언_x']+' & '+blue_top['챔피언_y']
blue_top.head(2)

       GameID  챔피언_x  win_y         챔피언_y               탑_정글_조합
0  4035079604   Sett   True       Trundle        Sett & Trundle
1  4035079613  Garen  False  FiddleSticks  Garen & FiddleSticks

In [128]:
blue_top.drop(['챔피언_x', '챔피언_y'],1, inplace=True)
blue_top.head(2)

C:\Users\sujong\AppData\Local\Temp\ipykernel_16804\4000403697.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  blue_top.drop(['챔피언_x', '챔피언_y'],1, inplace=True)

       GameID  win_y               탑_정글_조합
0  4035079604   True        Sett & Trundle
1  4035079613  False  Garen & FiddleSticks

In [136]:
blue_top.rename(columns={'win_y':'win'}, inplace=True)
blue_top.head(2)

       GameID    win               탑_정글_조합
0  4035079604   True        Sett & Trundle
1  4035079613  False  Garen & FiddleSticks

### 탑 정글 레드팀 조합 만들기

In [130]:
red_top = pd.merge(top[top['teamId'] == 200], jung[jung['teamId']==200], on='GameID', how='inner')
red_top.head(2)

,win_x,라인_x,GameID,teamId_x,챔피언_x,win_y,라인_y,teamId_y,챔피언_y
0,False,TOP,4035079604,200,Yone,False,JUNGLE,200,Viego
1,True,TOP,4035079613,200,Malzahar,True,JUNGLE,200,Nocturne

In [132]:
red_top.drop(['win_x', '라인_x', 'teamId_x', 'teamId_y', '라인_y'],1,inplace=True)
red_top.head(2)

C:\Users\sujong\AppData\Local\Temp\ipykernel_16804\3472420479.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  red_top.drop(['win_x', '라인_x', 'teamId_x', 'teamId_y', '라인_y'],1,inplace=True)

       GameID     챔피언_x  win_y     챔피언_y
0  4035079604      Yone  False     Viego
1  4035079613  Malzahar   True  Nocturne

In [133]:
red_top['탑_정글_조합']=red_top['챔피언_x']+' & '+red_top['챔피언_y']
red_top.head(2)

       GameID     챔피언_x  win_y     챔피언_y              탑_정글_조합
0  4035079604      Yone  False     Viego         Yone & Viego
1  4035079613  Malzahar   True  Nocturne  Malzahar & Nocturne

In [134]:
red_top.drop(['챔피언_x', '챔피언_y'],1, inplace=True)
red_top.head(2)

C:\Users\sujong\AppData\Local\Temp\ipykernel_16804\3205751593.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  red_top.drop(['챔피언_x', '챔피언_y'],1, inplace=True)

       GameID  win_y              탑_정글_조합
0  4035079604  False         Yone & Viego
1  4035079613   True  Malzahar & Nocturne

In [137]:
red_top.rename(columns={'win_y':'win'}, inplace=True)
red_top.head(2)

       GameID    win              탑_정글_조합
0  4035079604  False         Yone & Viego
1  4035079613   True  Malzahar & Nocturne

### 일단 레드 블루 그냥 한컬럼으로 합치기

In [164]:
top_combi_win_rate = pd.DataFrame(data={'탑_정글_조합':'예시','승률':[0]})
top_combi_win_rate

  탑_정글_조합  승률
0      예시   0

In [150]:
b = top_combi_win_rate.copy()

In [141]:
a = top_combi.loc[top_combi['탑_정글_조합']=='Yone & Viego']
sum(a['win'])/len(a)

0.38461538461538464

In [139]:
top_combi = pd.concat([red_top, blue_top])
top_combi['탑_정글_조합'].unique()

array(['Yone & Viego', 'Malzahar & Nocturne', 'Darius & Kindred', ...,
       'Garen & Malzahar', 'Nidalee & Trundle', 'Shyvana & Karthus'],
      dtype=object)

In [165]:
for i in top_combi['탑_정글_조합'].unique():
    a = top_combi.loc[top_combi['탑_정글_조합']==i]
    if len(a)>=30:
        b['탑_정글_조합'] = i
        b['승률'] = sum(a['win']/len(a))
        top_combi_win_rate = pd.concat([top_combi_win_rate, b])
top_combi_win_rate

                 탑_정글_조합        승률
0                     예시  0.000000
0       Camille & Khazix  0.486486
0         Fiora & LeeSin  0.323529
0   Mordekaiser & LeeSin  0.250000
0           Sett & Viego  0.581395
..                   ...       ...
0             Jax & Kayn  0.441860
0        Irelia & Khazix  0.527778
0           Teemo & Kayn  0.500000
0        Nasus & Warwick  0.575758
0      Tryndamere & Kayn  0.529412

[88 rows x 2 columns]

### 10경기 이상으로 봤을때 결과

In [160]:
top_combi_win_rate.sort_values(by='승률', ascending=False)

                  탑_정글_조합        승률
0       Camille & Kindred  1.000000
0             Kled & Kayn  0.933333
0         Trundle & Amumu  0.923077
0        Aatrox & Warwick  0.900000
0          Nasus & Rammus  0.846154
..                    ...       ...
0   Mordekaiser & Nidalee  0.166667
0            Shen & Viego  0.111111
0          Gnar & Warwick  0.100000
0        Warwick & LeeSin  0.083333
0                      예시  0.000000

[648 rows x 2 columns]

### 20 경기 이상 확인했을때 결과

In [163]:
top_combi_win_rate.sort_values(by='승률', ascending=False)

                 탑_정글_조합        승률
0             Jax & Nunu  0.782609
0         Darius & Amumu  0.764706
0     DrMundo & MasterYi  0.739130
0            Garen & Zac  0.727273
0        Teemo & Trundle  0.718750
..                   ...       ...
0         Yorick & Shaco  0.272727
0         Camille & Ekko  0.259259
0   Mordekaiser & LeeSin  0.250000
0    Malphite & MasterYi  0.241379
0                     예시  0.000000

[223 rows x 2 columns]

### 30경기 이상 확인했을때 결과

In [166]:
top_combi_win_rate.sort_values(by='승률', ascending=False)

                 탑_정글_조합        승률
0         Darius & Amumu  0.764706
0        Teemo & Trundle  0.718750
0     Camille & JarvanIV  0.700000
0       Garen & MasterYi  0.660000
0         Illaoi & Amumu  0.656250
..                   ...       ...
0           Fiora & Kayn  0.324324
0         Fiora & LeeSin  0.323529
0         Teemo & LeeSin  0.290323
0   Mordekaiser & LeeSin  0.250000
0                     예시  0.000000

[88 rows x 2 columns]